.pageContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}
.boxContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 150px);
}
.inputBox{
  width: 50%;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  background-color: white;
  overflow: hidden;
  flex: 1;
}

.codeHeader{
  margin-left: 10px;
}
