*{
  box-sizing: border-box;
}

.content-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
  margin-top: 60px;
  background-color: #14181d;
  color: white;
  overflow: hidden;
}


.app-content {
  overflow-y: hidden;
}
